.App {
  height: 100%;
}

header {
  background-color: #DDDDDD;
  padding: 20px;
  height: 28%;
}

main {
  display: flex;
  flex-direction: row;
  height: 75%;
  padding: 15px;
}
 
li {
  border: 1px solid black;
}



